.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $Black;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .btnClose{
        width: 57rem;
        text-align: end;
        padding: 2rem 0;
    
        img {
            cursor: pointer;
            filter: brightness(300%);
        }
    }
    
    .lightbox{
        max-width: 57rem;
    
        .next{
            display: flex;
            right: 0;
            transform: translateX(50%);
        }
    
        .previous{
            display: flex;
            left: 0;
            transform: translateX(-50%);
        }
    
        .arrow{
            top: 40%;
        }
    }
}
    
.hidden{
    display: none;
}
